[submodule "third-party/ReorderableInspector"]
	path = third-party/ReorderableInspector
	url = https://github.com/SubjectNerd-Unity/ReorderableInspector
[submodule "third-party/SimpleJSON"]
	path = third-party/SimpleJSON
	url = https://github.com/Bunny83/SimpleJSON.git
